<a href="https://colab.research.google.com/github/0gunkim/REACT-TODO-PRAC/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_1_(Sol)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 1

## 목차

1. Python 이란?
2. print()
3. 기초 자료형과 연산
4. 문자열 / 리스트 접근하기
5. 입력 - input()
6. 논리 자료형와 비교 연산
7. 조건문

## 1. print()

```
print("출력할 내용")
```

In [ ]:
# print("출력할 내용")
print('Hello World!')

Q. 하나가 아닌, 여러 자료를 출력하고 싶을 땐 어떻게 하면 좋을까요?

```
스타트업 스테이션 7 기
```

In [1]:
# print('스타트업 스테이션', 7, '기')
print('스타트업 스테이션', 7, '기')

스타트업 스테이션 7 기

Q. 여러 개의 문장을 출력하고 싶은데.. 어떻게 하면 좋을까요?

```
안녕하세요!
테킷 스타트업 스테이션 Crew 여러분
반갑습니다!
```

In [ ]:
print('안녕하세요!')
print('테킷 스타트업 스테이션 Crew 여러분')
print('반갑습니다!')

### 실습 1

여러분이 이번 과정에서 이루고 싶은 것을 앞에서 배운 print() 를 활용해서 출력해보세요!

In [ ]:
# print()
print("여러분들과 2월 7일까지 무탈하게 교육 및 프로젝트를 마무리 하는 것 입니다!")

## 2. 기초 자료형과 연산

### 1. 숫자형 (Number)

숫자로 이루어진 자료형 정수나 실수 등을 다룰 수 있습니다.

숫자끼리 연산이 가능합니다.

In [ ]:
print(3) # 정수 int
print(3.14) # 실수 float

### 2. 문자열 (String)

문자나 문자들을 늘어놓은 것 큰 따옴표 (“”) 와 작은 따옴표 (‘’) 로 구분 합니다.

In [ ]:
print('Hello')
print('3.14') # 작은 따옴표 가능!
print("3.14") # 큰 따옴표 가능!

### 3. 리스트 (List)

여러 자료를 보관하는 자료형 다른 종류의 자료를 함께 담을 수 있습니다.

자료 안에 순서가 있습니다.

In [ ]:
# 빈 리스트 []
print(['a', 'b'])
print(['a', 2]) # 다른 자료형과 함께 가능

### 4. 주석 (Comment)

주석은 컴퓨터가 무시합니다.

한 줄 주석은 #, 여러 줄 주석은 “““ ”””, ‘‘‘ ’’’로 합니다.

In [ ]:
# 주석 처리

'''
컴퓨터가 실행하지 않습니다.
'''

print('이것만 나옵니다.')

### 실습 2

앞에서 배워 본 자료형을 활용해보겠습니다!

Python에 있는 대표적인 자료형으로는 숫자형 자료와 문자형 자료, 그리고 리스트형 자료가 있습니다.

1. 숫자 자료형은 우리가 알고있는 1, 2, 3 등의 정수와 3.14 등의 실수를 포함한 자료형입니다.

2. 문자 자료형은 'a', "abc"와 같이 한 문자나 단어, 문장을 '' 혹은 ""로 묶어준 자료형입니다.

3. 리스트 자료형는 위의 숫자형, 문자열 등의 여러 자료형을 한번에 담는 자료형입니다.

```
123 # 숫자
"I love Python" # 문자
[1, 2, 3] # 리스트
```

자료형은 저마다 연산하는 방식을 가지고 있는데, 그 중에서 +(더하기) 기호가 자료형마다 어떻게 적용되는지 확인해봅시다.

In [ ]:
#숫자 50과 숫자 50을 더해서 출력해봅시다!
print(50+50)

#문자열 "50"과 문자열 "50"을 더해서 출력해봅시다!
print("50"+"50")

#리스트 [50]과 리스트 [50]을 더해서 출력해봅시다!
print([50]+[50])

### 변수

```
변수 사용방법

변수 이름 = 자료
```

In [ ]:
number_ = 7 # 숫자 (int)
name_ = 'LikeLion' # 문자열 (str)
class_ = ['OnLine', 'OffLine'] # 리스트 (list)

print(number_, name_, class_)

### 변수 이름 짓는 방법

1. 숫자, 알파벳, 한글, 언더바(_) 등 사용 가능
2. 변수 이름이 숫자로 시작하면 X
3. 파이썬 문법에서 사용되는 예약어 (이미 사용 되는 단어 : for, while, if …) 사용 금지
4. 공백 문자 (‘’), 연산자 (+, -, % 등) 사용 금지

### 실습 3

변수의 사용 방법을 배워봅시다.

In [ ]:
# 변수에는 정수, 실수같은 숫자를 저장할 수 있고,
num1 = 1
num2 = 2

# 영어나 한글같은 문자도 저장할 수 있어요.
character = 'a'

# 이런 문자들의 집합도 저장할 수 있고,
string = 'Python'

# 자료들을 여러 개 담을 수 있는 리스트 또한 저장할 수 있어요.
threeList = [1, 'a', 'Python']

# 여러분의 변수를 만들어 봅시다. my_var라는 이름의 변수를 만들고, 원하는 값을 넣어보세요!
my_var = 10

# 변수는 print()에 넣을 수도 있어요! my_var를 print로 출력해서 값이 잘 들어갔는지 확인해봅시다!
print(my_var)

# 변수끼리는 연산 또한 가능합니다. 예를들어, 위에 있는 num1, num2을 더하면?!
print(num1+num2)

### 실습 4

print를 이용해서 귀여운 토끼를 그려봅시다.

- 출력 예시
    ```
    (\_/)
    (. . )
    |\ /|
    ```

- 참고 사항!

    ```
    역 슬래시(`\`)의 출력과 `\n` (줄바꿈) 와 같은 이스케이프 시퀀스를 구분하기 위해서는 다음처럼 출력해야 합니다.
    ```

In [ ]:
# 정답 코드 1
print("(\_/)\n(. . )\n|\ /|")

# 정답 코드 2
print("(\_/)")
print("(. . )")
print("|\ /|")

### 자료형의 연산

```
+ : 더하기
- : 빼기
* : 곱하기
/ : 나누기
```

In [ ]:
print(3 + 4) # 7
print(3 - 4) # -1
print(3 * 4) # 12
print(3 / 4) # 0.75

### 실습 5

변수와 사칙 연산을 활용해서 문제를 풀어봅시다!

주석의 힌트를 참고해주세요!

In [ ]:
#'num1'이라는 변수를 하나 선언하고, 숫자 23571를 넣어줍시다.
num1 = 23571

#'num2'이라는 변수를 하나 선언하고, 이전 값에 1024를 곱한 값을 넣어줍시다.
num2 = num1 * 1024

#'num3'이라는 변수를 하나 선언하고, 이전 값에 243을 나눈 값을 넣어줍시다.
num3 = num2 / 243

#'num4'이라는 변수를 하나 선언하고, 이전 값에 4927819을 더한 값을 넣어줍시다.
num4 = num3 + 4927819

#'Answer'이라는 변수를 하나 선언하고, 이전 값에 829176을 뺀 값을 넣어줍시다.
answer = num4 - 829176

# answer 를 출력해봅시다.
print(answer, "입니다!")

### 자료형의 특수 사칙 연산

```
// : 몫 연산자
% : 나머지 연산자
** : 제곱 연산자
```

In [ ]:
print(15 // 2) # 7
print(15 % 2) # 1
print(2 ** 4) # 16

### 실습 6

주석에 나오는 값이 나올 수 있도록 특수 사칙 연산자를 활용해보세요.

In [ ]:
# intdiv가 4가 되도록 //을 이용해서 수식을 작성해봅시다.
intdiv = 16 // 4

# modular가 1가 되도록 %을 이용해서 수식을 작성해봅시다.
modular = 3 % 2

# expo가 16가 되도록 **을 이용해서 수식을 작성해봅시다.
expo = 4 ** 2

#위의 세 변수를 출력해서 확인해봅시다!
print(intdiv, modular, expo)

### 문자형 자료의 연산

```
+ : 이어 붙이기 (with. 문자열)
* : 반복 하기 (with. 숫자)
```

In [ ]:
# Start + Up = ?
print('Start' + 'Up')

# Fighting * 3 = ?
print('Fighting' * 3)

### 실습 7

문자열 연산을 해봅시다.

In [ ]:
# 변수 connect_str를 선언하고, 연결 연산자를 이용해서 '덩덕쿵덕'를 넣어봅시다.
connect_str = '덩덕'+'쿵덕'

# 변수 iterate_str를 선언하고 반복 연산자를 이용해서 '쿵덕쿵덕'을 넣어봅시다.
iterate_str = '쿵덕'*2

# 위 두 변수를 이용해서 '덩덕쿵덕쿵덕쿵덕덩덕쿵덕쿵덕쿵덕'을 변수 jajinmori에 넣어봅시다
jajinmori = (connect_str+iterate_str)*2

print(connect_str, iterate_str, jajinmori)

## 문자열 / 리스트 접근하기

### 인덱싱 (Indexing)

Index 를 활용해서 시퀀스 (리스트나 문자열) 의 특정 위치의 원소를 가져 오는 방법
```
시퀀스[index] -> 시퀀스에서 인덱스 원소 출력
```

In [ ]:
# lion 에서 인덱스 2인 원소 'a' 를 출력
lion = 'Startup'

print(lion[2])

### 슬라이싱 (Slicing)

Index 를 활용해서 시퀀스 (리스트나 문자열) 의 일부분을 잘라서 가져 오는 방법

```
시퀀스[a (시작) : b (종료)] -> 시퀀스 내 index a 이상 b 미만의 원소 출력
```

In [ ]:
# code 에서 인덱스 2인 원소 이상 5번째 원소 미만을 출력
code = 'python'

print(code[2:5])

### 실습 8

인덱싱과 슬라이싱으로 날씨 데이터에서 원하는 정보만 추출하기!

In [ ]:
#3월 서울의 날씨는 다음과 같습니다. "흐리고 비" 요소만 추출해보겠습니다!
seoul = ['8_맑음', '9_맑음', '10_흐리고 비', '11_맑음', '12_맑음', '13_맑음', '14_맑음', '15_맑음']

#이 변수에 넣어봅시다!
seoul_rain = seoul[2]

#동일한 기간의 제주 날씨는 다음과 같습니다. 마찬가지로 "흐리고 비" 요소들을 추출해보겠습니다!
jeju = ['8_맑음', '9_맑음', '10_맑음', '11_맑음', '12_흐리고 비', '13_흐리고 비', '14_흐리고 비', '15_맑음', '16_맑음', '17_맑음']

#이 변수에 넣어봅시다!
jeju_rain = jeju[4:7]

#여러분이 추출한 날씨 정보를 print()를 이용해서 한번 확인해보세요!
print('서울에서 비가 오는 날씨는 ', seoul_rain)
print('제주에서 비가 오는 날씨는 ', jeju_rain)

## 입력 - input()

```
변수 = input()
```

터미널에 값을 `입력` 해주세요.

In [ ]:
var = input()

### 실습 9

input() 으로 내가 원하는 내용을 출력해봅시다.

그리고 입력한 값이 어떤 자료형인지 확인해봅시다.

In [ ]:
# input()을 이용해서 입력을 넣고, 이를 변수 var에 담아봅시다.
var = input()

# 입력 받은 값은 다음과 같습니다.
print("입력 받은 값 :", var)

# 입력한 값이 어떤 자료형인지 확인해봅시다.
print(type(var))

### input() 의 중요한 특징

무엇을 입력하든 “문자열” 로 입력을 받습니다.

만약 숫자를 입력해야 한다면 어떻게 해야 할까요?

입력 받은 이후에 가공을 해주어야 합니다.

In [ ]:
a = '123'
b = int('123')

print(a, b) # 123, 123

print(type(a)) # 문자열
print(type(b)) # 숫자

### 실습 10

자료형을 변환해봅시다!

input()은 입력받은 값을 문자열(string)으로 저장합니다.

하지만 숫자를 입력 받아 일련의 숫자 연산을 해야하는 경우가 많기 때문에, 입력받은 자료를 형변환해줄 필요가 있습니다.

변환을 해주기 위해서는 아래와 같이 형변환할 문자열 자료인 345를 정수 자료형의 이름으로 감싸주면 됩니다.

```
# 결과 : 문자열 "345" 출력
word = "345"
print(word)

# 결과 : 숫자 345 출력
word = int(word)
print(word)
```

E 은행의 2배로 적금은 초기 예치금의 정확히 2배만큼 돈을 돌려준다고 합니다. 초기 예치금을 입력으로 줄 때, 혜자 적금으로 받을 수 있는 돈을 출력해봅시다.

In [ ]:
#변수 money에 input을 이용해서 입력을 받아봅시다.
money=input()

# money를 int형으로 변환해서, 다시 money에 넣어줍시다.
money=int(money)

# money를 2배 불려서 print로 출력해봅시다.
money = money*2

print(money)

## 논리자료형과 비교 연산

### 논리 자료형

True / False (참 혹은 거짓)을 나타내는 자료형

### 비교 연산자

숫자나 문자의 값을 비교하는 연산자

주어진 진술이 참이면, True

거짓이면 False

를 반환합니다.

In [ ]:
print(3 < 4) # True
print(7 == 6) # False
print(1 >= 10) # False
print(5 != 6) # True

### 실습 11

비교 연산자 활용하기

비교 연산자는 두 자료를 비교하는 연산자입니다. 비교 연산자를 사용하면, 컴퓨터는 그 값의 결과에 따라 우리에게 True 혹은 False를 나타냅니다.

예를 들어, 아래와 같이 비교 연산자가 쓰인 명제가 있을 때, 숫자 3과 숫자 5는 엄연히 다른 수이므로 거짓을 의미하는 False를 나타냅니다.

```
# 의미 : 3과 5는 같다
3 == 5

# 결과  : False
print(3==5)
```

변수 3개(ans1, ans2, ans3)에 주어진 조건을 만족하는 명제를 넣어봅시다.

In [ ]:
# Q1. == 혹은 != 연산자을 이용해서 True인 명제를 ans1에 넣어봅시다.
ans1 = 1!=0

# Q2. > 혹은 < 연산자를 이용해서 False인 명제를 ans2에 넣어봅시다.
ans2 = 2<1

# Q3. >= 혹은 <= 연산자를 이용해서 True인 명제를 ans3에 넣어봅시다.
ans3 = 2<=3

# 위의 세 변수를 출력해서 True, False 여부를 확인해봅시다.
print(ans1, ans2, ans3)

### AND / OR / NOT 연산자

In [ ]:
# AND 연산자
print(7==7 and 1<=2 and 7>3)

# 각 논리가 모두 True 이므로 True

In [ ]:
# OR 연산자
print(7==6 or 2>=7 or 7>3)

# 7>3가 True 이므로, True가 존재하기 때문에 True

In [ ]:
# NOT 연산자
print(not 7 == 7)

# 7 == 7 은 True이지만 not 이 붙었으므로, False

### 실습 12

논리 연산자 활용하기

논리 자료형을 연산하는 방법엔 AND, OR, NOT 등이 있습니다.

```
a = True
b = False
c = 3>4
d = 2==2
```
```
print(a and c) # False
print(b or d) # True
print(not a) # False
```

AND → and
모든 논리가 True면 True, 아닐 시 False

OR → or
논리 중 True가 하나라도 존재하면 True, 아닐 시 False

NOT → not
논리를 뒤집는 연산자

실습에서 논리 연산자 사이에 하나의 명제가 빠져있습니다.

원하는 논리(True/False)가 나오도록 빠진 부분을 채워넣어주세요!

In [ ]:
# 괄호 안에 적절한 명제를 채워 stat1이 True가 되게 해봅시다.
stat1 = 3==3 and 2<4 and (1!=0)

# 괄호 안에 적절한 명제를 채워 stat2이 False가 되게 해봅시다.
stat2 = 4>=6 or "apple"=="Apple" or (1==0)

# 괄호 안에 적절한 명제를 채워 stat3이 True가 되게 해봅시다.
stat3 = not (1==0)

# 위의 세 변수를 출력해서 True, False 여부를 확인해봅시다.
print(stat1, stat2, stat3)

## 조건문

if 문은 조건이 True 이면 아래의 명령을 실행합니다.

또한, if문에 들어갈 명령들은 같은 들여쓰기로 구분해줍니다.

```
if 조건:
    <수행할 명령>
    <수행할 명령>
    ...
```

In [ ]:
# 예제 코드
num = [0, 1, 2]
count = 0

if num[1] == 1:
    count = count + 1
    print(count)

### if 문에서 조건을 만족하지 못한다면? -> Else

만약 i == 7이면, i를 출력하라!

아니면 i + 1을 출력해라!

else (i != 7)

In [ ]:
x = input()

if x in ['a', 'e', 'i', 'o', 'u']:
    print("모음 입니다.")
else:
    print("자음 입니다.")

### 실습 13

만약 ~라면 if, 아니라면 else!

조건을 만족해주는 경우의 명령은 if문을 통해 전달해줄 수 있고, 만족하지 못하는 경우에는 else문에 원하는 명령을 적어주면 됩니다.

```
if 조건:
    do A
else:
    do B
```

다음과 같은 상황일 때, 조건을 만족하면 A를, 그렇지 못하다면 B를 실행합니다. 이때, else는 if문에 해당하지 않는 경우를 의미하므로, 반드시 if문과 함께 쓰여야합니다!

if-else문을 이용해서 어떤 수를 입력했을 때, 이 수가 홀수인지 짝수인지 구분하는 프로그램을 작성해봅시다.

어떤 수를 2로 나눈 나머지의 값을 이용해 그 수가 홀수인지 짝수인지 알 수 있습니다.

In [ ]:
# input()을 이용해서 숫자(정수) 입력을 받고, 변수 num에 이를 넣어봅시다.
num = int(input())

# if-else문을 이용해서 만약 입력받은 수가 홀수면 "(입력받은 수) 홀수입니다."
# 짝수면 "(입력받은 수) 짝수입니다."를 출력해봅시다.
# 괄호는 출력하지 않습니다.
if num%2 == 1:
    print(num,"홀수입니다.")
else:
    print(num,"짝수입니다.")

### if - else

```
if 조건 1:
    <수행할 명령>
elif 조건 2:
    <수행할 명령>
```

In [ ]:
x = int(input())

if x % 3 == 0:
    print("3의 배수 입니다.")
elif x % 3 != 0:
    print("3의 배수가 아닙니다.")

### if - elif - else

```
if 조건 1:
    do A
elif 조건 2:
    do B
elif 조건 2:
    do C
    ...
else:
    do Z
```

### 실습 14

A는 아니지만 B라면? elif!
우린 삶에서 짜장면은 싫지만, 짬뽕은 먹고 싶은 경우가 있습니다. 이러한 경우에는 어떻게 조건문을 세워주면 될까요?

이럴 때는 elif를 사용해주면 됩니다! elif는 else if의 약어로, 아닌 것 중에 만약~ 의 조건을 세워주는 역할을 합니다.

```
if 조건1:
    do A
elif 조건2:
    do B
else:
    do C
```

한 사람이 어떤 수를 생각하고, 다른 사람이 이 수를 예측할때, 생각한 수보다 크면 더 크다, 작으면 더 작다는 정보를 주어 생각한 수를 맞추게 하는 게임을 업-다운 게임이라고 합니다.

if-elif-else문을 이용해서 업-다운 게임을 구현해봅시다.

주석을 참고해서 문제를 풀어주세요!

In [ ]:
# 변수 answer에 수 1~50 중 하나를 넣어봅시다.
answer = 25

# input으로 숫자 입력을 받아서 변수 submit에 저장해봅시다.
submit = int(input())

# if-elif-else문으로 Up-Down Game을 구현해봅시다.
# 만약 answer보다 submit이 더 크면 "정답보다 더 큰 수를 입력했습니다."
# 만약 answer보다 submit이 더 작으면 "정답보다 더 작은 수를 입력했습니다."
# 만약 answer와 submit이 같으면 "정답!" 를 출력합니다.
if answer < submit:
    print("정답보다 더 큰 수를 입력했습니다.")
elif answer > submit:
    print("정답보다 더 작은 수를 입력했습니다.")
elif answer == submit:
    print("정답!")

### 실습 15

대중교통 이용 결정하기

아래는 대중교통 이용에 관한 조건에 따라 교통수단을 선택하는 문제입니다.

조건:
1. 거리가 100km 이상이면 비행기를 이용합니다.
2. 거리가 40km 이상 100km 미만이면 기차를 이용합니다.
3. 거리가 10km 이상 40km 미만이면 광역 버스를 이용합니다.
4. 거리가 10km 미만이면 버스 / 전철를 이용합니다.

In [ ]:
# 여러분들의 이동 거리 (km 단위로)를 입력해주세요.
distance = int(input())

# 조건문을 작성해주세요!
if distance >= 100:
    print("비행기 을 타고 이동할 예정입니다.")

elif distance >= 40:
    print("기차 을 타고 이동할 예정입니다.")

elif distance >= 10:
    print("광역 버스 을 타고 이동할 예정입니다.")

else:
    print("택시 을 타고 이동할 예정입니다.")